.artists-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.artist-card {
  border-right: solid;
  border-bottom: solid;
  border-radius: 25px;
  border-color: peru;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2%;
  width: 215px;
}

.artist-card img {
  width: 21.5%;
}

/* .slide-container { */
  /* width: 70%; */
  /* margin: auto; } */

  /* @media screen and (max-width: 1024px) {
  }

  @media screen and (max-width: 768px) {
  } */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* @media screen and (min-width: 1500px) {

  .artists-container {
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin: 280px auto 0px auto;
  }

  a {
    text-decoration: none;
  }

  .artist-card {
    display: block;
    border-right: solid;
    border-bottom: solid;
    border-radius: 25px;
    padding: 30px;
    margin: 65px;
    width: 450px;
    border-color: peru;
    background-color: white;
  }

  .artist-card img {
    width: 20%;
    margin-left: -75%;
    border-radius: 25px;
  }

  .artist-card h2 {
    margin-left: -55%;
  }

  .slide-container {
    width: 70%;
    margin: auto; 
  }
} */