.banner-1 {
  position: absolute;
  margin-left: 15%;
  margin-top: 10px;
  width: 1000px;
  height: 200px;
  border-radius: 10px;
  background-size: 1000px 350px;
  background-position: center;
}

.banner-2 {
  position: fixed;
  margin-left: 3%;
  margin-top: 10px;
  width: 150px;
  height: 665px;
  background-color: lightcyan;
  background-image: url('../images/banner2.png');
  border-radius: 25px;
}

.banner-3 {
  position: fixed;
  margin-left: 87%;
  margin-top: 10px;
  width: 150px;
  height: 665px;
  background-color: lightgreen;
  background-image: url('../images/banner3.png');
  border-radius: 25px;
}

.main-container {
  position: fixed;
  margin-top: 13%;
  margin-left: 15%;
  width: 1000px;
  height: 490px;
  background-color: rgba(109, 109, 109, 0.4);
  border-radius: 10px;
  overflow: scroll;
}

.banner-1 .react-slideshow-container {
  width: 1000px;
  border-radius: 10px;
  background-size: 1000px 350px;
  background-position: center;
}

.banner-1 .react-slideshow-container img {
  width: 1000px;
  height: 175px;
  border-radius: 10px;
}

div.banner-1 > div + .indicators{
  display: none;
}

.main-page-button-one:focus {
  outline: 0;
}
.main-page-button-two:focus {
  outline: 0;
}

.mainpage-top-comic {
  width: 250px;
  border-radius: 25px;
  float: right;
  margin: 10px;
}

.main-comic-holder {
  padding: 20px 20px 30px 40px;
  position: relative;
}
.comic-home-text-container {
  width: 500px;
  margin: 0;
  position: relative;
  float: left;
}
.main-page-button-one {
  margin-right: -1px;
  padding: 10px;
  border-radius: 10px 0px 0px 0px;
  margin-left: 10px;
  margin-top: 10px;

}
.main-page-button-two {
  margin-left: -1px;
  padding: 10px;
  border-radius: 0px 10px 0px 0px;
}
.main-page-button-two:focus {
  outline: 0;
}
.comic-home-container {
  width: 900px;
  height: 450px;
}


/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
@media screen and (min-width: 1500px) {
  .banner-1 {
    position: absolute;
    margin-left: 15%;
    margin-top: 10px;
    width: 2000px;
    height: 400px;
    border-radius: 10px;
    background-size: 1000px 350px;
    background-position: center;
  }

  .banner-2 {
    position: fixed;
    margin-left: 4.5%;
    margin-top: 10px;
    width: 150px;
    height: 850px;
    background-color: lightcyan;
    background-image: url('../images/banner2.png');
    border-radius: 25px;
  }

  .banner-3 {
    position: fixed;
    margin-left: 90%;
    margin-top: 10px;
    width: 150px;
    height: 850px;
    background-color: lightgreen;
    background-image: url('../images/banner3.png');
    border-radius: 25px;
  }

  .main-container {
    position: fixed;
    margin-top: 13%;
    margin-left: 15%;
    width: 1800px;
    height: 525px;
    background-color: rgba(109, 109, 109, 0.4);
    border-radius: 10px;
    overflow: scroll;
  }

  .banner-1 .react-slideshow-container {
    width: 1800px;
    border-radius: 10px;
    background-size: 1000px 350px;
    background-position: center;
  }

  .banner-1 .react-slideshow-container img {
    width: 1800px;
    height: 300px;
    border-radius: 25px;
  }

  div.banner-1 > div + .indicators{
    display: none;
  }

  .mainpage-top-comic {
    width: 280px;
    border-radius: 25px;
    float: right;
    margin: 10px;
  }

  .main-comic-holder {
    padding: 20px 20px 30px 40px;
    position: relative;
  }
  .comic-home-text-container {
    width: 1000px;
    margin: 0;
    position: relative;
    float: left;
  }
  .main-page-button-one {
    margin-right: -1px;
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
    margin-left: 10px;
    margin-top: 10px;

  }
  .main-page-button-two {
    margin-left: -1px;
    padding: 10px;
    border-radius: 0px 10px 0px 0px;
  }
  .main-page-button-two:focus {
    outline: 0;
  }
  .comic-home-container {
    width: 1700px;
    height: 480px;
  }
}
