.empty-cart-btn {
  margin: 1% 0% 2% 60%;
  padding: 2%;
  border-radius: 25px;
}

.basket-item {
  text-align: left;
  width: 50%;
  border-bottom: solid;
  border-right: solid;
  border-radius: 0px 25px 25px 25px;
  padding: 1%;
  margin: 2% 2% 2% 22%;
}

.basket-item img {
  width: 20%;
  margin: 1% 2% 1% 0%;
}

.basket-description {
  text-align: justify;
}