.comics-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.comic-card {
  border-right: solid;
  border-bottom: solid;
  border-radius: 25px;
  padding: 20px;
  margin: 10px;
}
.comic-card img{
  width: 50%;
  float: right;
}

.counterUp-btn {
  padding: 20px;
}

.comic-preview {
  border-bottom: solid;
  border-right: solid;
  border-radius: 0px 25px 25px 25px;
  padding: 1%;
  margin: 2% 2% 2% 2%;
}

.comic-preview img{
  width: 20%;
  float: left;
  margin: 1% 2% 1% 0%;
}