.logIn {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  border-radius: 25px;
  padding: 50px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: antiquewhite;
  background-color: peru;
}

.logInInput {
  width: 400px;
  font-size: 30px;
  margin-bottom: 5%;
  border-radius: 25px;
  margin-left: 25px;
}

.logInLabel {
  display: inline-block;
  margin-top: 30px;
  margin-left: 10%;
}

.password {
  margin-left: 11%;
}

.logIn-btn {
  margin-left: 470px;
  width: 200px;
  font-size: 30px;
  margin-bottom: 5%;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*///////////////// SIGN UP ////////////////*/

.signUp {
  width: 800px;
  height: 550px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  color: antiquewhite;
  background-color: peru;
}
.signUpForm {
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
}
.signUpInput {
  width: 400px;
  font-size: 30px;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
}

.signUpLabel {
  display: inline-block;
  margin-left: 5%;
}

.signUpLabelAvatar {
  display: inline-block;
  margin-left: 14%;
}

.signUpLabelPassword {
  display: inline-block;
  margin-left: 6%;
}

.signUp-btn {
  margin-left: 320px;
  width: 280px;
  font-size: 30px;
  margin-bottom: 5%;
  border-radius: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* @media screen and (min-width: 1500px) {
  .logIn {
    width: 1000px;
    border-radius: 25px;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: antiquewhite;
    background-color: peru;
  }
  
  .logInForm {
    margin-top: 50px;
  }
  
  .logInInput {
    width: 400px;
    font-size: 30px;
    margin-bottom: 5%;
    border-radius: 25px;
    margin-left: 25px;
  }
  
  .logInLabel {
    display: inline-block;
    margin-left: 200px;
  }
  
  .password {
    margin-left: 210px;
  }
  
  .logIn-btn {
    margin-left: 570px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 5%;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  ///////////////// SIGN UP //////////// 
  
  .signUp {
    width: 1000px;
    height: 550px;
    border-radius: 25px;
    padding: 50px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  
    color: antiquewhite;
    background-color: peru;
  }
  
  .signUpForm {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .signUpInput {
    width: 400px;
    font-size: 30px;
    margin-bottom: 5%;
    border-radius: 25px;
    margin-left: 25px;
  }
  
  .signUpLabel {
    display: inline-block;
    margin-left: 200px;
  }
  
  .signUpLabelAvatar {
    display: inline-block;
    margin-left: 255px;
  }
  
  .signUpLabelPassword {
    display: inline-block;
    margin-left: 210px;
  }
  
  .signUp-btn {
    margin-left: 510px;
    width: 280px;
    font-size: 30px;
    margin-bottom: 5%;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
} */