.nav-barfalse {
    display: inline-flex;
    margin-left: 25%;
}

.nav-bar-no-user {
    display: inline-flex;
    margin-left: 24%;
}

.basket {
    position: absolute;
    top: -15%;
    right: 5%;
    font-size: 250%;
}

.basket-number {
    position: absolute;
    top: 40%;
    right: 5.5%;
    font-size: 80%;
    border: solid, white;
    background-color: white;
    padding: 1px;
    border-radius: 25px;
}

nav.container {
    display: flex;
}

nav > ul {
    padding: 0 0.5rem;
}

nav > ul.last-child {
    margin-left: auto;
}

.header {
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
/* @media screen and (min-width: 1500px) {
    
    .nav-barfalse {
        display: inline-flex;
        margin-left: 40%;
    }
    
    .nav-bar-no-user {
        display: inline-flex;
        margin-left: 40%;
    }
    
    .basket {
        position: relative;
        right: 5%;
        font-size: 250%;
    }
    
    .basket-number {
        position: relative;
        top: 2.5%;
        right: 5.25%;
        font-size: 80%;
        border: solid, white;
        background-color: white;
        padding: 1px;
        border-radius: 25px;
    }
    
    .header {
        background-color: black;
    }
    body {
        background-color: rgb(243, 239, 226);
    }
} */